#SideBar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  overflow-y: none;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}

#search {
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 7px 10px;
  border-radius: 10px;
  width: 80%;
  appearance: none;
  font-size: large;
  border-style: solid;
  border-color: rgb(133, 133, 133);
}

#search:focus {
  outline: rgb(133, 133, 133);
}

#search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
