.button-28 {
  background-color: #2056a8; /* Filled background color by default */
  border: 2px solid #2056a8;
  border-radius: 15px;
  padding: 10px 24px;
  text-align: center;
  margin-left: 10px;
}

.button-28:hover {
  background-color: transparent; /* Transparent background on hover */
}

