#register-box {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	#submit-box {
		flex-direction: column;

		p {
			font-size: x-small;
			color: rgb(140 140 140);
		}
	}
}

#register-header {
	margin: 0;
}

#first-and-last-name {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;

	input:not([type='checkbox']) {
		width: 46%;
	}
}

#register-button {
	background-color: #2056a8;
	border: 0.125rem solid #2056a8;
	border-radius: 0.25rem;
	text-align: center;
	outline: none;
	font-size: large;
	transition: all 0.4s;
	width: 100%;
}

#register-button:hover {
	background-color: transparent;
}
