.image {
	width: 10rem;
	height: 10rem;
	margin: 1rem;
}

.first-image {
	box-shadow: 0 0 0.5rem 0.3rem #ff0;
}

.addEventPage {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	overflow-y: auto;
	margin-top: calc(var(--header-height) + 4rem);

	form {
		display: flex;
		flex-direction: column;
		width: 60%;
		gap: 1.5rem;

		.event-field {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			max-width: 100%;

			h3 {
				font-size: 0.9rem;
				margin-top: 0;
				margin-bottom: 0.5rem;
				color: rgb(228 228 228);
			}

			textarea {
				width: 100%;
				outline: none;
			}

			.pictures {
				align-items: center;

				h3 {
					margin-top: 0.4rem;
				}

				button {
					outline: none;
				}
			}

			.MuiAutocomplete-root {
				#tags-select {
					width: 100%;
					background-color: transparent;
					color: white;
				}
			}

			.text-area {
				width: 100%;
				position: relative;

				textarea {
					resize: vertical;
				}
			}
		}

		.dates {
			display: flex;
			width: 100%;
			max-width: 100%;
			flex-direction: row;
			gap: 1rem;
		}
	}

	.submit-button {
		background-color: #2056a8;
		border: 0.125rem solid #2056a8;
		border-radius: 0.25rem;
		text-align: center;
		outline: none;
		font-size: large;
		transition: all 0.4s;
		width: 100%;
		margin-bottom: 2rem;
	}

	.submit-button:hover {
		background-color: transparent;
	}
}

textarea {
	width: 95%;
	height: 10rem;
}

#tags-select {
	width: 100%;
}
